<div class="modal small hide fade" id="ModalDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <span class="label label-important">警告</span>
    </div>
    <div class="modal-body">
        <p class="error-text">你确定要删除用户？ 删除后不可恢复！</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button class="btn btn-danger" id="js-btn-modal-delete" data-dismiss="modal">确定</button>
    </div>
</div>
