@{
    ViewBag.Title = "权限管理";
    ViewBag.ParentEnName = "System";
    ViewBag.CurrentEnName = "OperationManage";
    ViewBag.SearchName = "权限名称";
    ViewBag.AddTitle = "新增权限信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MvcBootstrap.EFModel
@section DataGrid{
    @Html.Partial("_OperationGrid")
}
@section AddForm{
    <div class="control-group">
        <label class="control-label">
            权限名称</label>
        <div class="controls">
            <input type="text" name="Name" class="empty form-input">
            <div class="form-tip"></div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            权限代码</label>
        <div class="controls">
            <input type="text" name="Action" class="empty form-input" />
            <div class="form-tip"></div>
        </div>
    </div>
}
